name: CD

on: 
  push:
    branches: [main]
  pull_request:
jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:    
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.15.0-alpha.2"

    - name: install dependencies
      run: pip install -r requirements.txt
      
    - name: Run tests
      run: pytest
      
    - name: Run tests with coverage and html
      run: pytest --cov=. --cov-report=term --cov-report=xml --cov-report=html
      
    - name: Prepare the webpage
      run: |
        mkdir sites 
        mv htmlcov sites/
        mv coverage.xml sites/
    - name: upload the artifacts
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./sites

  Deploy:
    needs: deploy-pages
    runs-on: ubuntu-latest
    permissions:
      pages: write 
      id-token: write
    steps:
      
      - name: deploy to Github
        uses: actions/deploy-pages@v4